* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 57, 68);
    color: white;
    font-family: times-new-roman, Times, serif;
}

/* navigation bar */

.navigation_bar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(8, 20, 25);
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    padding: 0.7em;
}
.nav_logo {
    vertical-align: middle;
    width: 10em;
    height: auto;
    display: flex;
}

#nav_home {
    display: inline;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    font-size: 2rem;
    padding: 0.3em;
    margin-left: 0.5em;
}

.navigation_bar ul {
    display: flex;
    vertical-align: middle;
    list-style-type: none;
    gap: 0.5em;
    margin-left: auto;
}

.navigation_bar li a {
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.3em;
}

.navigation_bar li a:hover {
    background-color: rgb(22, 57, 72);
    border-radius: 5px;
}


.main_container {
    display: block;
    padding: 3% 10%;
}

.intro h1 {
    font-family: times-new-roman, Times, serif;
    font-size: 3em;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding-bottom: 0%;
    
}

.intro p {
    text-align: center;
    font-size: 1.3em;
}

.paragraph {
    width: 100%;
    margin-top: 3%;
    text-align: justify;
    font-size: 1.3em;
    background-color: rgb(32, 83, 105);
    padding: 1em;
    border-radius: 2%;
}

.paragraph_title {
    font-size: 2em;
    text-decoration: underline;
}

.paragraph_body {
    display: flex;
}

.paragraph_image {
    width: 40%;
    height: 40%;
    float: right;
}

.paragraph p {
    padding-right: 1em;
}
