<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v={{ current_time }}"">
    <title>Home | DRAP-T</title>
    <script src="{{url_for('static',filename='js/confirm-delete.js')}}" defer></script>
</head>
<body>
    <header>
        <nav>
          {% if enable_nefs_logo == True %}<img class="nav-logo" src="{{ url_for('static', filename='images/NEFSIF_NAV_LOGO.png') }}" alt="">{% endif %}
          <a href="{{ url_for('home') }}"><img class="nav-logo" src="{{ url_for('static', filename='images/DRAP-T_logo_wide.png') }}" alt=""></a>
            <ul>
                <li><a href="{{url_for('risk')}}">RISK</a></li>
                <li><a href="{{url_for('performance')}}">PERF</a></li>
                <li><a href="{{url_for('profile')}}">PROFILE</a></li>
                {% if admin==True %}
                <li><a href="{{url_for('admin_panel')}}">ADMIN</a></li>
                {% endif %}
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="main-flex-container" id="admin-page">
        <div class="element-container">
          <h2>Create user</h2>
          <div class="element-form">
            <form action="{{url_for('create_user')}}" method="post" autocomplete="off">
              <input class="input-box" type="text" placeholder="Username" name="username" value="{{request.form.username }}">
              <input class="input-box" type="text" placeholder="Full name" name="fname" value="{{request.form.fname }}">
              <input class="input-box" type="password" placeholder="Password" name="password" value="{{request.form.password }}">
              <input class="input-box" type="text" placeholder="Team" name="team" value="{{request.form.team }}">
              <select name="permission_scope" class="input-perm_scope">
                <option disabled selected>Permission scope</option>
                <option value="1">1</option>
                <option value="2">2</option>
                {% if userScope == "4" %}
                <option value="3">3</option>
                <option value="4">4</option>
                {% endif %}
              </select>
              <input class="input-phone" type="text" placeholder="Phone number +XX 1234567890" name="phone_number" value="{{request.form.phone_number}}">
              <input class="input-button" type="submit" value="Submit">
            </form>  
          </div>
        </div>
        
        <div class="element-container" id="admin-element-container">
            <h2>List of users</h2>
            <table class="element-table">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Full Name</th>
                    <th>Group</th>
                    <th>Permission</th>
                    <th>Phone Number</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in userCreds %}
                    <tr>
                      <td>{{ user[0] }}</td>
                      <td>{{ user[1] }}</td>
                      <td>{{ user[2] }}</td>
                      <td id="{% if user[3]=='4' %}userGroupAdminTD{% endif %}">{{user[3]}}</td>
                      <td>{{ user[4] }}</td>
                      <td class="element-table-delete">
                      <form action="{{url_for('delete_user')}}" method="post" class="element-table-delete-form">
                        <input type="hidden" name="username" value="{{ user[0] }}">
                        <button type="submit">X</button>
                      </form>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="element-container" id="admin-element-container">
          <h2>Terminate active sessions</h2>
          <table class="element-table">
              <thead>
                <tr>
                  <th>SID</th>
                  <th>User</th>
                  <th>Group</th>
                  <th>Permission</th>
                  <th>Login Time</th>
                  <th>Terminate</th>
                </tr>
              </thead>
              <tbody>
                {% for sid, data in active_sessions.items() %}
                  <tr>
                    <td>{{ sid }}</td>
                    <td>{{ data["user_name"] }}</td>
                    <td>{{ data["user_team"] }}</td>
                    <td id="{% if data['permission_scope']=='4' %}userGroupAdminTD{% endif %}">{{ data["permission_scope"]}}</td>
                    <td>{{ data["login_time"] }}</td>
                    <td class="element-table-delete">
                    <form action="{{url_for('terminate_session')}}" method="post" class="element-table-delete-form">
                      <input type="hidden" name="sid" value="{{ sid }}">
                      <button type="submit">X</button>
                    </form>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <h3 class="terminated_flash">Session for<i>{{message}}</i>has been terminated</h3>
                  {% endfor %}
              {% endif %}
          {% endwith %}
      </div>
    </div>
    <footer>
      <h3>Copyright Szymon Kopycinski 2024-2025</h3>
    </footer>

</body>
</html>