<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v={{ current_time }}"">
    <title>Create Account | Drap Analytics</title>
    <style>
        .main-flex-container {
            padding-top: 100px;
        }
        @media (max-width: 415px) {
            .main-flex-container{
                padding-top: 156px;
            }
        }
    </style>
</head>
<body>
    <header>
        <nav>
            {% if enable_nefs_logo == True %}<img class="nav-logo" src="{{ url_for('static', filename='images/NEFSIF_NAV_LOGO.png') }}" alt="">{% endif %}
            <a href="{{ url_for('home') }}"><img class="nav-logo" src="{{ url_for('static', filename='images/DRAP-T_logo_wide.png') }}" alt=""></a>
        </nav>
    </header>
    <div class="main-flex-container" id="create-page">
        <div class="element-container" id="element-container">
            <h1>Welcome to Drap Analytics</h1>
            <p>The unofficial Dynamic Risk Analysis and Performance Tool used by the Nottingham Economics and Finance Society's <b>Investment Fund</b></p>
        </div>
        <div class="element-container">
                <h2 id="element-form-text">Fill in the information below, or <a href="{{url_for('index')}}">log in</a></h2>
                <div class="element-form">
                    <form action="" method="post" autocomplete="off">
                        <input class="input_box" type="text" placeholder="University username" name="username" value="{{
                          request.form.username }}">
                          <input class="input_box" type="text" placeholder="Full name" name="fname" value="{{
                            request.form.fname }}">
                         <input class="input_box" type="password" placeholder="Strong password" name="password" value="{{
                          request.form.password }}">
                          <input class="input_box" type="text" placeholder="Phone number, e.g. +44 1234567890" name="phoneNumber" value="{{
                            request.form.phoneNumber }}">
                        <select name="userGroup" class="input_group">
                            <option value="" disabled selected>Select your team</option>
                            <option value="industrials">Industrials</option>
                            <option value="tmt">TMT</option>
                            <option value="usc">US & Canada</option>
                        </select>
                        <input class="input-button" type="submit" value="Submit">
                      </form>  
                </div>
            </div>
        </div>
    </div>
    <footer>
        <h3>Copyright Szymon Kopycinski 2024-2025</h3>
    </footer>
</body>
</html>