<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v={{ current_time }}"">
    <title>Home | Drapt Analytics</title>
</head>
<body>
    <header>
        <nav>
            {% if enable_nefs_logo == True %}<img class="nav-logo" src="{{ url_for('static', filename='images/NEFSIF_NAV_LOGO.png') }}" alt="">{% endif %}
            <a href="{{ url_for('home') }}"><img class="nav-logo" src="{{ url_for('static', filename='images/Drapt Analytics Logo.png') }}" alt=""></a>
            <ul>
                <li><a href="{{url_for('risk')}}">RISK</a></li>
                <li><a href="{{url_for('performance')}}">PERF</a></li>
                <li><a href="{{url_for('profile')}}">PROFILE</a></li>
                {% if admin==True %}
                <li><a href="{{url_for('admin_panel')}}">ADMIN</a></li>
                {% endif %}
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-flex-container">
        <div class="element-container" id="intro-container">
            <h1>Welcome to <b>Drapt Analytics</b></h1>
            <p><i>Dynamic Risk Analysis & Performance</i></p>
            <p>In today’s fast-paced financial landscape, precision and efficiency in portfolio management are paramount. Drapt Analytics empowers investors, analysts, and fund managers with cutting-edge risk analysis and performance evaluation tools, transforming raw data into actionable insights.</p>
        </div>
        
        <div class="element-container">
            <h2>Why Drapt Analytics?</h2>
            <ul>
                <li>Comprehensive Risk Analysis – From correlation matrices to Value at Risk (VaR), we provide deep insights into portfolio vulnerabilities.</li>
                <li>Seamless Portfolio Integration – Track and optimize portfolio allocation with real-time data analysis.</li>
                <li>Institutional-Grade Insights – Developed for the University of Nottingham NEFS Investment Fund, Drapt Analytics is designed to meet the demands of professional fund management.</li>
            </ul>
        </div>
        <div class="element-container">
            <h2>Powering Smarter Portfolio Management Decisions</h2>
            <p>Whether you’re managing a fund or refining your personal portfolio, Drapt Analytics delivers the analytical depth you need to stay ahead in volatile markets.</p>
            <p>Explore the future of risk and performance analysis. Welcome to Drapt Analytics.</p>
            <!--
            <div class="element-image" id="image-right">
                <div class="element-paragraph-container-column">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius sapien non magna volutpat, nec viverra velit bibendum. Phasellus a tincidunt nisi, id fermentum est. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                </div>
                <img class="paragraph_image" src="{{url_for('static',filename='images/PLACEHOLDER_IMAGE_1.jpg')}}" alt="" width="600" height="400">
            </div>-->
        </div>
        <!--
        {% if enable_nefs_logo == True %}
        <div class="element-container">
            <h2>Discover opportunities</h2>
            <div class="element-clickable-grid">
                <div class="element-clickable-grid-item"><a href="#"><img src="{{ url_for('static',filename='images/AXP.avif')}}" alt=""></a></div>
                <div class="element-clickable-grid-item"><a href="#"><img src="{{ url_for('static',filename='images/BP.avif')}}" alt=""></a></div>
                <div class="element-clickable-grid-item"><a href="#"><img src="{{ url_for('static',filename='images/COMPASS.avif')}}" alt=""></a></div>
                <div class="element-clickable-grid-item"><a href="#"><img src="{{ url_for('static',filename='images/DB.avif')}}" alt=""></a></div>
                <div class="element-clickable-grid-item"><a href="#"><img src="{{ url_for('static',filename='images/GS.avif')}}" alt=""></a></div>
                <div class="element-clickable-grid-item"><a href="#"><img src="{{ url_for('static',filename='images/LAZARD.avif')}}" alt=""></a></div>
                <div class="element-clickable-grid-item"><a href="#"><img src="{{ url_for('static',filename='images/MAZARS.avif')}}" alt=""></a></div>
                <div class="element-clickable-grid-item"><a href="#"><img src="{{ url_for('static',filename='images/NEWTON.avif')}}" alt=""></a></div>
                <div class="element-clickable-grid-item"><a href="#"><img src="{{ url_for('static',filename='images/PKF.avif')}}" alt=""></a></div>
            </div>
        </div>
        {% endif %}-->
    </div>
    <footer>
        <h3>Copyright Szymon Kopycinski 2024-2025</h3>
    </footer>
</body>
</html>