<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v={{ current_time }}">
    <title>Home | DRAP-T</title>
    <script src="{{ url_for('static', filename='js/confirm-delete.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="{{ url_for('static', filename='js/monte-carlo-simulation-chart.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/custom-portfolio-table.js') }}" defer></script>
</head>
<body>
    <header>
        <nav>
            <img class="nav-logo" src="{{ url_for('static', filename='images/NEFSIF_NAV_LOGO.png') }}" alt=""> 
            <p class="nav-text"><a href="{{ url_for('home') }}">DRAP-T</a></p>
            <ul>
                <li><a href="{{ url_for('risk') }}">RISK</a></li>
                <li><a href="{{ url_for('performance') }}">PERF</a></li>
                <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
                {% if admin == True %}
                    <li><a href="{{ url_for('admin_panel') }}">ADMIN</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-flex-container">
        <div class="element-container" id="intro-container">
            <h1>Welcome to risk</h1>
            <p>This is where you will be able to simulate your portfolio risk under different situations, using our interactive data processing and visualisation platform.</p>
            <div class="element">
                <div class="element-risk-image-grid">
                    <div class="element-risk-image-grid-item"><img src="{{ url_for('static', filename='images/python-logo.webp') }}" alt=""></div>
                    <div class="element-risk-image-grid-item"><img src="{{ url_for('static', filename='images/pandas-logo.webp') }}" alt=""></div>
                    <div class="element-risk-image-grid-item"><img src="{{ url_for('static', filename='images/numpy-logo.png') }}" alt=""></div>
                    <div class="element-risk-image-grid-item"><img src="{{ url_for('static', filename='images/chart-js-logo.png') }}" alt=""></div>
                </div>
            </div>
        </div>
        <div class="element-container">
            <div class="element-form">
                <h3>Review your team's portfolio risk, or enter custom portfolio</h3>
                <form action="" method="post" autocomplete="off">
                    <select name="portfolio_name" id="">
                        <option value="" disabled selected>Select portfolio</option>
                        {% for portfolio in available_team_portfolios %}
                            <option value="team_{{portfolio[0]}}">Team Portfolio: {{portfolio[0]}}</option>
                        {% endfor %}
                        <option value="" disabled>----------------</option>
                        {% for portfolio in available_user_portfolios %}
                            <option value="user_{{portfolio[0]}}">User Portfolio: {{portfolio[0]}}</option>
                        {% endfor %}
                        <option value="" disabled>----------------</option>
                        <option value="custom_portfolio">Create custom portfolio</option>
                    </select>
                    <input class="input-button" type="submit" value="Analyse">
                </form>
            </div>
            {% if createCustomPortfolioPage %}
            <div class="element">
                <table class="element-table" id="custom-portfolio-table">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Allocation Weight  <span id="weightSum" style="font-weight: normal; color: #464646;">(Sum: 0.00)</span></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="customPortfolioTable">
                        <!-- Rows will be dynamically added here -->
                    </tbody>
                </table>
                <div id="custom-portfolio-table-actions">
                    <button id="addRow" class="input-button" type="button">Add Row</button>
                    <input type="text" class="input-text" id="PortfolioName"placeholder="Enter portfolio name">
                    {% if manager_status %}
                    <select name="portfolio_for" id="portfolio_for">
                        <option value="" disabled selected>What type of portfolio is this?</option>
                        <option value="team">Portfolio for my team</option>
                        <option value="user">Custom portfolio for me</option>
                    </select>
                    {% endif %}
                    <button id="submitPortfolio" class="input-button" type="button">Submit Portfolio</button>
                </div>
            </div>
            {% endif %}
        </div>
        {% if monteCarloData and risk_metric_data %}
        <div class="element-container">
            <h1>{{portfolio_name}}'s Risk</h1>
            <p>
                {% for i in portfolio_tickers_and_weights %}
                    {{ i[0] }} - {{ (i[1] | float * 100) | round(2) }}%{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <div class="element">
                <div class="element-risk-tool">
                    <h1>Monte Carlo</h1>
                    <p>Here is a Monte Carlo simulation of the <b>{{portfolio_name}}</b></p>
                    <canvas id="monte-carlo-simulation-chart"></canvas>
                </div>
            </div>
            <table class="element-table">
                <thead>
                    <tr>
                        <th>Volatility (D)</th>
                        <th>Volatility (W)</th>
                        <th>Volatility (M)</th>
                        <th>Variance</th>
                        <th>Sharpe Ratio</th>
                        <th>VaR 95</th>
                        <th>VaR 99</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ (risk_metric_data[0] | float * 100) | round(2) }}%</td>
                        <td>{{ (risk_metric_data[1] | float * 100) | round(2) }}%</td>
                        <td>{{ (risk_metric_data[2] | float * 100) | round(2) }}%</td>
                        <td>{{ (risk_metric_data[3] | float * 100) | round(2) }}%</td>
                        <td>{{ risk_metric_data[4] | round(2) }}</td>
                        <td>{{ (risk_metric_data[5] | float * 100) | round(2) }}%</td>
                        <td>{{ (risk_metric_data[6] | float * 100) | round(2) }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <script>
        var monteCarloData = {{ monteCarloData | tojson }};
    </script>
    <footer>
        <h3>Copyright Szymon Kopycinski, NEFSIF 2024</h3>
    </footer>
</body>
</html>