<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v={{ current_time }}">
    <title>Risk | Drapt Analytics</title>
    <script src="{{ url_for('static', filename='js/confirm-delete.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/warn-screen-size.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/monte-carlo-simulation-chart.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/monte-carlo-stress.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/correlation-matrix-figure.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/returns-histogram.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/cumulative-performance-chart.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/custom-portfolio-table.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/historical-data-slider.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/show-risk-settings.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/rolling-volatility.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix"></script>
</head>
<body>
    <header>
        <nav>
            {% if enable_nefs_logo == True %}<img class="nav-logo" src="{{ url_for('static', filename='images/NEFSIF_NAV_LOGO.png') }}" alt="">{% endif %}
            <a href="{{ url_for('home') }}"><img class="nav-logo" src="{{ url_for('static', filename='images/Drapt Analytics Logo.png') }}" alt=""></a>
            <ul>
                <li><a href="{{ url_for('risk') }}">RISK</a></li>
                <li><a href="{{ url_for('performance') }}">PERF</a></li>
                <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
                {% if admin == True %}
                    <li><a href="{{ url_for('admin_panel') }}">ADMIN</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-flex-container">
        <div class="element-container" id="intro-container">
            <h1>Welcome to risk</h1>
            <p>This is where you will be able to analyse your portfolio risk with a variety of metrics, using up to 5 years of historical asset price data. </p>
            <!--
            <div class="element">
                <div class="element-risk-image-grid">
                    <div class="element-risk-image-grid-item"><img src="{{ url_for('static', filename='images/python-logo.webp') }}" alt=""></div>
                    <div class="element-risk-image-grid-item"><img src="{{ url_for('static', filename='images/pandas-logo.webp') }}" alt=""></div>
                    <div class="element-risk-image-grid-item"><img src="{{ url_for('static', filename='images/numpy-logo.png') }}" alt=""></div>
                    <div class="element-risk-image-grid-item"><img src="{{ url_for('static', filename='images/chart-js-logo.png') }}" alt=""></div>
                </div>
            </div>
            -->
        </div>
        <div class="element-container">
            <div class="element-form">
                <h3>Review portfolio risk, or enter custom portfolio</h3>
                <form action="" method="post" autocomplete="off">
                    <select name="portfolio_name" id="portfolio-selector">
                        <option value="" disabled selected>Select portfolio</option>
                        {% for portfolio in available_team_portfolios %}
                            <option value="team_{{portfolio[0]}}">Team Portfolio: {{portfolio[0]}}</option>
                        {% endfor %}
                        <option value="" disabled>----------------</option>
                        {% for portfolio in available_user_portfolios %}
                            <option value="user_{{portfolio[0]}}">User Portfolio: {{portfolio[0]}}</option>
                        {% endfor %}
                        <option value="" disabled>----------------</option>
                        <option value="custom_portfolio">Create custom portfolio</option>
                    </select>
                    <div class="element-form-settings" id="element-form-settings">
                        <input type="range" min="0.25" max="5.00" value="1" step="0.25" class="slider-box" id="historical-data-range" name="historical-data-range">
                        <p>Historical Data Used - <span id="lookback-days"></span></p>
                        <div class="enable-monte-carlo">
                            <p>Enable Charts</p>
                            <input type="checkbox" id="enable-monte-carlo" name="enable-monte-carlo" value="enable-monte-carlo" checked>
                        </div>
                    </div>
                    <input class="input-button" type="submit" id="analyse-button" value="Analyse">
                </form>
            </div>
            {% if noPortfolioError %}
            <div class="element" style="flex-direction: column;">
                <h2 style="color: red; text-align: center;">No portfolio provided</h1>
                <h3>Please select a portfolio from the list, or create custom</h3>
            </div>
            {% endif %}
            {% if createCustomPortfolioPage %}
            <div class="element">
                <table class="element-table" id="custom-portfolio-table">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Allocation Weight  <span id="weightSum" style="font-weight: normal; color: #464646;">(Sum: 0.00)</span></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="customPortfolioTable">
                        <!-- Rows will be dynamically added here -->
                    </tbody>
                </table>
                <div id="custom-portfolio-table-actions">
                    <button id="addRow" class="input-button" type="button">Add Row</button>
                    <input type="text" class="input-text" id="PortfolioName"placeholder="Enter portfolio name">
                    {% if manager_status %}
                    <select name="portfolio_for" id="portfolio_for">
                        <option value="" disabled selected>What type of portfolio is this?</option>
                        <option value="team">Portfolio for my team</option>
                        <option value="user">Custom portfolio for me</option>
                    </select>
                    {% endif %}
                    <button id="submitPortfolio" class="input-button" type="button">Submit Portfolio</button>
                </div>
            </div>
            {% endif %}
        </div>
        {% if monteCarloData or risk_metric_data %}
        <div class="element-container" id="risk-summary">
            <h1>{{portfolio_name}}'s Risk</h1>
            <p>Successfully analysed <b>{{portfolio_name}}</b> using {{lookback_period}} of data, the portfolio has returned {{(totalReturnMetric | float * 100 ) | round(2) }}% over {{ lookback_period}}.</p>

            <!--<p>
                {% for i in portfolio_tickers_and_weights %}
                    {{ i[0] }} - {{ (i[1] | float * 100) | round(2) }}%{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>-->
            {% if monteCarloData == True %}
            <!--
            <div class="element-risk-chart">
                <div class="element-risk-tool">
                    <h1>Monte Carlo (GBM)</h1>
                    <canvas id="monte-carlo-simulation-chart"></canvas>
                </div>
            </div>
            -->
            <div class="element-risk-chart">
                <div class="element-risk-tool">
                    <h1>Asset Correlation Matrix</h1>
                    <canvas id="correlation-matrix-figure"></canvas>
                    <p>Most correlated assets:
                        {% for i in correlationMatrixMostCorrelated %}
                            {{ i[0] }} - {{ i[1] }} ({{ i[2] }}){% if loop.index!=loop.length%}, {% endif %} 
                        {% endfor %}
                    </p>
                    <p>Least correlated assets:
                        {% for i in correlationMatrixLeastCorrelated | reverse %}
                            {{ i[0] }} - {{ i[1] }} ({{ i[2] }}){% if loop.index!=loop.length%}, {% endif %} 
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="element-risk-chart">
                <div class="element-risk-tool">
                    <h2>Past Performance Chart</h2>
                    <canvas id="cumulative-performance-chart" width="400" height="400"></canvas>
                </div>
                <div class="element-risk-tool">
                    <h2>Histogram of Historical Returns</h2>
                    <canvas id="histogramChart" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="element-risk-chart">
                <div class="element-risk-tool">
                    <h1>Rolling Volatility</h1>
                    <canvas id="rolling-volatility-chart"></canvas>
                </div>
            </div>
            <div class="element-risk-chart">
                <div class="element-risk-tool">
                    <h1>Monte Carlo Stress Test</h1>
                    <p>Simulated portfolio under stressed conditions, where asset correlations rose by 70%, and volatility increased by 50%.</p>
                    <canvas id="monte-carlo-stress"></canvas>
                </div>
            </div>
            {% endif %}
            {% if risk_metric_data%}
            <div id="risk-element-table-container">
                <table class="element-table risk-table">
                    <thead>
                        <tr>
                            <th>Volatility (D)</th>
                            <th>Volatility (W)</th>
                            <th>Volatility (M)</th>
                            <th>Jensen's Alpha (A)</th>
                            <th>Beta</th>
                            <th>Sharpe Ratio</th>
                            <th>Sortino Ratio</th>
                            <th>VaR 95</th>
                            <th>VaR 99</th>
                            <th>Skew</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ (risk_metric_data[0] | float * 100) | round(2) }}%</td>
                            <td>{{ (risk_metric_data[1] | float * 100) | round(2) }}%</td>
                            <td>{{ (risk_metric_data[2] | float * 100) | round(2) }}%</td>
                            <td>{{ (risk_metric_data[3] | float * 100) | round(2) }}%</td>
                            <td>{{ risk_metric_data[4] | round(2) }}</td>
                            <td>{{ risk_metric_data[5] | round(3) }}</td>
                            <td>{{ risk_metric_data[9] | round(3) }}</td>
                            <td>{{ (risk_metric_data[6] | float * 100) | round(2) }}%</td>
                            <td>{{ (risk_metric_data[7] | float * 100) | round(2) }}%</td>
                            <td>{{ risk_metric_data[8] | round(3) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <script>
        var monteCarloData = {{ monteCarloData | tojson }};
        var monteCarloStressData = {{ monte_carlo_stress_test | tojson }};
        var histogramData = {{ histogramData | tojson}};
        var performanceData = {{performanceData | tojson }};
        var correlationMatrixData = {{correlationMatrixData | tojson}};
        var portfolio_rolling_vol = {{portfolio_rolling_vol | tojson }}

    </script>
    <footer>
        <h3>Copyright Szymon Kopycinski 2024-2025</h3>
    </footer>
</body>
</html>